<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="ACTIVE_PROFILE" value="${spring.profiles.active}"/>
    <springProfile name="alpha">
        <property name="LOG_PATH" value="./logs"/>
    </springProfile>

    <springProfile name="test">
        <property name="LOG_PATH" value="./"/>
    </springProfile>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5level | %-35logger{0}:%-4L | [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <File>${LOG_PATH}/room.log</File>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5level | %-35logger{0}:%-4L | [%thread] %msg%n%rEx{full, org, sun, javax, mysql}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/room.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- start: thirty party library -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="org.flywaydb" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="springfox.documentation" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <!-- end: thirty party library -->

    <springProfile name="alpha">
        <root>
            <appender-ref ref="file"/>
            <appender-ref ref="console"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root>
            <appender-ref ref="console"/>
        </root>
    </springProfile>

</configuration>